.page_road{
    background-color: rgba(255, 0, 0, 0.116);
    padding: 5px;
    margin-bottom: 30px;
    display: flex;
    font-family: "Manrope", sans- serif;
    justify-content: start;
    font-size: 14px;
    min-height: 100px;
    
}
.span_p{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    max-width: 1400px;
    align-items: end;
}

.page_road span{
  font-weight: 600;
  text-decoration: underline;
}
.document_sayt{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 90px;
}