.footer_sayt{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    width: 90%;
    max-width: 1400px;
    /* align-items: center; */
    margin: auto;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.app img{
    margin-bottom: 20px;
}
.app{
    font-family: "Manrope", sans-serif;
}
.apps{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.footer_sayt ul {
    list-style: none;
    font-family: "Manrope", sans-serif;
}
.footer_sayt ul li {
    margin-top: 30px;
}
.social{
    display: flex;
    font-size: 24px;
    margin-top: 30px;
    gap: 35px;
}
@media(max-width:1200px){
    .footer_sayt{
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr ;
        width: 90%;
        max-width: 1400px;
        /* align-items: center; */
        margin: auto;
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .apps{
        margin-bottom: 50px;
    }
}
@media(max-width:913px){
    .footer_sayt{
        display: grid;
        grid-template-columns: 1.5fr 1fr  ;
        width: 90%;
        max-width: 1400px;
        /* align-items: center; */
        margin: auto;
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .apps{
        margin-bottom: 50px;
    }
}
@media(max-width:660px){
    .footer_sayt{
        display: grid;
        grid-template-columns: 1.5fr ;
        width: 90%;
        max-width: 400px;
        /* align-items: center; */
        margin: auto;
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .apps{
        margin-bottom: 50px;
    }
    .footer_sayt ul{
        margin-bottom: 40px;
    }
}
