.footer_sayt{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
.app_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.telegram{
    background-color:cyan;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.youtube{
    background-color:red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.instagram{
    background-color:orangered;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.facebook{
    background-color:orangered;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}