@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    padding: 0;
    margin: 0;
}

.swiper-button-prev{
    background: white;
    width: 40px !important; 
    height: 40px !important;
    border-radius: 50%
}
.swiper-button-next{
    background: white;
    width: 40px !important; 
    height: 40px !important;
    border-radius: 50%
}
.swiper-button-prev::after{
    font-size: 23px !important;
    z-index: 12;
    background-color: white;
    z-index: 1234;
    color: gray;

}
.swiper-button-next::after{
    font-size: 23px !important;
    z-index: 12;
    background-color: white;
    color: gray; 
}
.swiper-pagination-bullet-active{
    background-color: #E91F25 !important;
   
}
.swiper-pagination-bullets{
 position: relative;
    bottom: 0px !important;
}
@media(max-width:600px){
    .swiper-button-prev{
        background: white;
        width: 30px !important; 
        height: 30px !important;
        border-radius: 50%
    }
    .swiper-button-next{
        background: white;
        width: 30px !important; 
        height: 30px !important;
        border-radius: 50%
    }
    .swiper-button-prev::after{
        font-size: 10px !important;
        z-index: 12;
        background-color: white;
        z-index: 1234;
        color: gray;
    }
    .swiper-button-next::after{
        font-size: 10px !important;
        z-index: 12;
        background-color: white;
        color: gray;
    }
}