#swipper{
  width: 90%;
  height: 100%;
max-width: 1400px;
margin: auto;
margin-top: 30px;
height: 440px;
padding-bottom: 20px;
border-radius: 10px;
}

.swiperslide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 400px;
  overflow: hidden !important;
  border-radius: 30px !important; 
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperslide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover ;
}


@media (max-width:991px) {
  .swiperslide{
    height: auto;
    overflow: hidden;
    border-radius: 30px; 
    height: 250px !important;
  }
  #swipper{
    height: 270px !important;
    /* overflow: visible; */
  }
}