#swipper{
  width: 90%;
  height: 100%;
max-width: 1400px;
margin: auto;
margin-top: 30px;
height: 440px;
padding-bottom: 20px;
border-radius: 10px;
}

.swiperslide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 400px;
  overflow: hidden !important;
  border-radius: 30px !important; 
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperslide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width:1201px) {
  .swiperslide{
    height: auto;
    overflow: hidden;
    border-radius: 30px; 
    height: 250px !important;
  }
  #swipper{
    height: 270px !important;
    /* overflow: visible; */
  }
}

@media (max-width:691px) {
  .swiperslide{
    height: auto;
    overflow: hidden;
    border-radius: 30px; 
    height: 150px !important;
  }
  #swipper{
    height: 170px !important;
    /* overflow: visible; */
  }
}






/* main */
.main{
  width: 90%;
  max-width: 1400px;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 30px;
}
.main h4{
  font-family: "Manrope", sans-serif;
font-size: 22px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0.5329999923706055px;
text-align: left;
margin-bottom: 30px;
}
.main h5{
  font-family: "Manrope", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
}
.main .cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 20px;

}
.main .card{
text-align: center;
max-width: 350px;
margin: auto;
width: 100%;
}
.main .img{
  width: 100%;
  height: 250px;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 20px;
}

@media(max-width:1200px){
  .main .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
  }
}

@media(max-width:900px){
  .main .cards{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
  }
}
@media(max-width:450px){
  .main .img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
  }
}

/* main2 */
.main2{
  width: 90%;
  max-width: 1400px;
  margin: auto;
  padding-bottom: 30px;
}
.main2 h4{
  font-family: "Manrope", sans-serif;
font-size: 22px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0.5329999923706055px;
text-align: left;
margin-bottom: 30px;
}
 .main2 .cards{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.main2 .card{
  width: 100%;
  box-shadow: 0px 0px 6px 0px #00000080;
  position: relative;
  max-width: 350px;
  margin: auto;
}
.main2 .img{
height: 200px;
background-size: cover !important;
background-position: center !important;
/* border-radius: 20px; */
}
.main2 .karzinka1{
width: 40px;
height: 40px;
border-radius: 50%;
border: 1px solid red;
display: flex;
justify-content: center;
align-items: center;
font-size: 23px;
position: absolute;
right: 20px;
bottom: 20px;
cursor: pointer;
}
.main2 .karzinka1 .h1{
  display: none;
  color: red;
}
.main2 .karzinka1 .p{
color: red;
}
.main2 .karzinka1:hover .p{
  display: none;
}
.main2 .karzinka1:hover .h1{
  display: block;
  color: red;
}
@media(max-width:1400px){
  .main2 .cards{
      display: grid;
      grid-template-columns:  1fr 1fr 1fr 1fr;
      gap: 10px;
  }  
}

@media(max-width:991px){
  .main2 .cards{
      display: grid;
      grid-template-columns:  1fr 1fr;
      gap: 10px;
  }  
}

@media(max-width:491px){
  /* .main2 .cards{
      display: grid;
      grid-template-columns:  1fr;
      gap: 10px;
  }   */
  .main2 .img{
    height: 150px;
    }
    .main2 .karzinka1{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      position: absolute;
      right:15px;
      bottom: 15px;
      cursor: pointer;
      }
}

.main2 .ss{
  padding: 20px;
}
.ss h5{
    font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  
}
.ss h3{
    font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 30px; 
}
@media(max-width:391px){
  .main2 .ss{
    padding: 10px;
  }
  .ss h3{
  font-size: 10px;
  margin-top: 15px; 
  margin-bottom: 15px;
}
.main2 .karzinka1{
  width: 20px;
  height: 20px;
  font-size: 12px;
  position: absolute;
  right:10px;
  bottom: 10px;
  cursor: pointer;
  }
  .ss h5{
    font-size: 10px;
}
}