.navbar_home{
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    align-items: center;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    height: 100px;
}
.navbar_home .logo{
    display: flex;
    align-items: center;
}
.input_search{
    display: grid;
    align-items: center;
    grid-template-columns: 9fr 1fr;
    background-color: #E91F25;
    font-size: 23px;
    width: 90%;
    margin: auto; 
    margin-top: 40px;
    border-radius: 5px;
    border: 2px solid #E91F25;
    /* overflow: hidden; */
    position: relative;
}
.input_search input{
    border: none;
    outline: none;
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
}
.search_page{
    position: absolute;
    /* top: 0%; */
    width: 100%;
    right: 50px;
    min-height: 20px;
    display: flex;
    justify-content: center;color: gray;
    align-items: center;
}
.search_icons{
    width: 50px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;justify-content: center;
}
.all_contact{
    display: flex;
    justify-content: space-around;
    align-items: end;
    font-size: 20px;
    gap: 10px;
    height: 40px;
}
.shop_nu {
    position: relative;
}
.shop_nu p{
    position: absolute;
    top: -10px;
    left: 15px;
    display: flex;align-items: center;justify-content: center;
    /* width: 15px !important; */
    /* height: 15px !important; */
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 10px;
    color: white;
    background-color: #E91F25;
}
.contact{
    display: flex;
    gap: 7px;
    align-items: end;
}
.contact select{
    border: none;
    background-color: white;
    font-family: "Manrope", sans-serif;
    cursor: pointer;

}
.contact1{
    display: flex;
    gap: 7px;
    align-items: center;
}
.line{
    height: 1px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.295);
    box-shadow: 0px 1px 1px grey;
}
.contact1 p{
    font-size: 15px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.navbar_home .icons{
    color:#E91F25;
    cursor: pointer;
}
@media(max-width:991px){
    .contact1{
        display: none;
    }
}
@media(max-width:700px){
    .input_search{
        display: none;
    }
    .navbar_home{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .all_contact{
        display: flex;
        justify-content: end;
        gap: 20px;
    height: 30px;
    }
}
@media(max-width:400px){
    .logo{
        width: auto;
        height: 32px;
    }
    .all_contact{
        font-size: 16px;
    }
    .alluser_img{
        height: 16px;
        width: auto;
    } 
}








